{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div id="page-wrapper" style=" min-height: 1043px;" align="center">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>
        <div class="row" >
            <div class="panel-heading" style="width: 1000px;">
                <div id='calendar'></div>
            </div>
        </div>

    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script>
         var freeDays = '{{ freeDays|raw }}';
         var daysOff = '{{ daysOff|raw }}';
     </script>

     <script type="text/javascript" src="{{ asset('build/index.js') }}"></script>

 {% endblock %}



